<!DOCTYPE html>
<html lang="en" ng-app="angLern">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
        crossorigin="anonymous">
</head>

<body>
    <div ng-controller="appController">

        <div class="container">
            <div style="width: 100%;height: 300px;">
                <canvas id="gender"></canvas>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <form ng-submit="addGender()">
                <label>Gender</label>
                <input type="text" class="form-control" name="name" ng-model="gender.name">
                <br>
                <div align="center">
                    <button class="btn btn-success" type="submit">บันทึก</button>
                </div>
            </form>

            <!-- <select class="form-control" name="" id="">
            <option ng-repeat="dt in dataGender" value="{{dt.id}}">{{dt.name}}</option>
        </select> -->
            <br>
            <br> {{dataGender.length}}
            <input type="text" class="form-control" ng-model="search" placeholder="search">
            <ul>
                <li ng-repeat="dt in dataGender | filter:search">
                    {{dt.name}}
                    <i class="fas fa-edit" style="color:blue;font-size: 2em;cursor:pointer;" ng-click="getEditData(dt.id,$index)"></i>
                    <i class="fas fa-eraser" style="color:red;font-size: 2em;cursor:pointer;" ng-click="delGender(dt.id)"></i>
                </li>
            </ul>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="./angular.min.js"></script>
    <script src="./app.js"></script>
</body>

</html>